{% extends "base.html.twig" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur Wild Series</title>
</head>
<body>
<h1>{{ website }} index</h1>
</body>
</html>